.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #000;
}

span {
	margin-left: 0.5em;
	color: #fff;
}

.social {
	float: right;
}

.fab {
	margin-left: 1em;
}
