.home-welcome {
	margin-top: -50%;
	left: 40%;
}

.signup-user {
	margin-top: -14%;
	right: 30%;
}

.signup-user .btn {
	padding: 0.7em;
	font-weight: bold;
	margin-right: 1em;
	margin-left: 1em;
}

.section-2 {
	padding-top: 6em;
	padding-bottom: 6em;
}

.section-2 .child-1 {
	display: inline;
}

.section-2 h3 {
	font-weight: bold;
	font-size: 2.5em;
}

.section-2 .media {
	height: 377px;
}

.bg-1, .bg-2 {
	padding-right: 4em;
	padding-left: 4em;
}

.bg-2, .bg-3 {
	text-align: center;
	padding-top: 7em;
	padding-bottom: 7em;
	margin-bottom: 4em;
	background-color: #f4f4f4;
}

.more-about {
	background-color: #F4F4F4;
	padding-top: 3em;
	padding-bottom: 4em;
}

.more-about h3 {
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
}

.bg-1 p {
	font-weight: bold;
	font-size: 1.25em !important;
}

.more-about button {
	color: #000;
}

/*------------------------------------
  media query for screen size @767px 
-------------------------------------*/
@media screen and (max-width: 63.917em){
	.home-welcome {
		margin-top: -48%;
		left: 8%;
	}

	.home-welcome h3 {
		font-size: 1em;
	}

	.home-welcome h1 {
		font-size: 2em;
	}

	.signup-user {
		margin-top: -10%;
		right: 0%;
	}

	.signup-user .btn {
		padding: 0.2em;
		font-weight: bold;
		margin-right: 1em;
		margin-left: 1em;
	}

	.section-2 .media {
		height: 277px;
	}
}