.body-bg1 {
	background-color: #F4F4F4;
	font-family: 'palanquin';
	padding-top: 3em;
	padding-right: 24em;
	padding-left: 24em;
	padding-bottom: 5em;
}

.body-bg1 h5 {
	text-align: center;
	padding-bottom: 2em;
}

.form-panel1 {
	border: 0.02em solid lightgray;
	background-color: #F4F5F2;
	padding: 2em;
	box-shadow: none;
}

/*------------------------------------
  media query for screen size @767px 
-------------------------------------*/
@media screen and (max-width: 63.917em){
	.body-bg1 {
		padding-right: 0.5em;
		padding-left: 0.5em;
	}
}