.btn {
	color: #fff;
}

.navbar {
	background-color: #000 !important;
}

.navbar img {
	margin-top: -0.2em;
	margin-right: -0.2em;
}

.navbar-toggler {
	margin-right: -0.5em;
	border: none;	
}

.navbar-toggler:focus {
	border: none;
	outline: none;
}

.navbar-nav .nav-item {
	padding-left: 1.5em;
}

.navbar-nav .nav-item .nav-link {
	color: #fff;
}

.login-link:hover, .signup-link:hover {
	text-decoration: none;
}

.userX {
	color: lightgray !important;
}

.userX:hover {
	color: #fff !important;
}

.login-link {
	color: #fff !important;
	padding-left: 0em !important;
	padding-right: 1.5em;
}

/*------------------------------------
  media query for screen size @767px 
-------------------------------------*/
@media screen and (max-width: 63.917em){
	.navbar-brand span {
		display: none !important;
	}

	.nav-link {
		margin-left: -1em;
	}
	.login-link {
		padding-left: 1.5em !important;
	}
}