.body-bg {
	padding-top: 3em;
	padding-bottom: 3em;
	background-color: #F4F4F4;
	font-family: 'palanquin';
}

.bg-text h1 {
	padding-top: 3.5em;
}

.bg-text p {
	font-size: 1.5em;
}

.form-panel {
	border: 0.02em solid lightgray;
	background-color: #F4F5F2;
	padding: 2em;
	box-shadow: 0 0 2em silver;
}

Form h6 {
	padding-top: 1em;
}

.form-panel p {
	font-size: 0.9em;
}

button {
	text-transform: uppercase;
}

/*------------------------------------
  media query for screen size @767px 
-------------------------------------*/
@media screen and (max-width: 63.917em){
	.bg-text h1 {
		padding-top: 0em;
	}	
}